body{
	text-align: center;
	padding: 0px;
	margin: 0px;
	background-color: #FAEBD7;

}


.input {
	margin-top: 30px;
	vertical-align: top;
	height: 80px;
}


#searchbox {
	width: 50%;
}

#searchbutton {
	line-height: 80px;
	width: 80px;
}


a {	display: inline-block;
	box-sizing: border-box;
	
	height: 200px;
	width: 32%;
	line-height: 200px;
	
	font-size: 30px;
	color: #000;
	background-color:gold;
	
	border-radius: 10px;
	margin: 5px;
	
	text-decoration: none;
	text-align: -webkit-center;
	text-align: -moz-center;
}


#container {
	position: relative;
	width: 100%;
	display: inline-block;
	padding: 0;
	margin: 10px;
}
