.tab-item a {
    color: #333;
    font-size: 20px;
    display: inline-block;
    width: 20%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 34px 10px 0px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

.tab-item a:hover {
    color: #e67e22;
}

.box-item {
    box-shadow: 1px 1px 5px #ccc5c5;
}

html{
	background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1572424203&di=bed2825cfadfc0820b7b75b16d8a5b2f&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.redocn.com%2Fsheying%2F20161021%2Fxiaohefengjing_7311709.jpg')
	 no-repeat fixed top;
	 background-size: 100% 100%;
	
	 height: 100%;
	 width: 100%;
	
}
